<%= render "shared/header" %>
<%= render "rootpost" %>
<%#if controller_path == 'ways' && action_name == 'edit' %>
  <%#= render "edit" %>
<%#end%>
<main>
  <div class="text-alert">
    <%= flash.now[:alert] %>
  </div>
  <div class = "main">
    <div class = "left-bar"></div>
    <div class = "center">
      <%#投稿した時の画面%>
      <% @ways.each do |way| %>
      <div class = "share-content">
        <div class = "share-content-main">
          <div class = "img-name-title-edit">
            <div class = "img-name-title">
              <div class = "user-image"></div>
              <div>
                <p class = "name-content"><%=way.user.nickname%></p>
                <p class = "title-content"><%=way.title%></p>
              </div>
            </div>
            <%if current_user.id == way.user_id%>
            <div class = "ed-de">･･･</div>
            <ul class = "content-lists" id = "content-pulldown" style = "display: none;">
              <li><%=link_to "編集", edit_way_path(way.id), class: "content-pulldown-btn", method: :get%></li>
              <li><%= link_to "削除", "/ways/#{way.id}", class: "content-pulldown-btn", method: :delete%></li>
            </ul>
            <script>
            /*$('.ed-de').on('click',function(){
              $(this).closest(".img-name-title-edit").find(".content-lists").show();
            });
            $(document).on('click',function(e){
              if(!$(e.target).closest('.img-name-title-edit').length){
                $('.content-lists').hide();
              };
            });*/
            $('.ed-de').on({'mouseenter':function(){
              $(this).closest(".img-name-title-edit").find(".content-lists").show();
            },
            'mouseleave': function(){
              $(this).closest(".img-name-title-edit").find(".content-lists").hide();
            }
            });
            
            $('.content-lists').on({'mouseenter':function(){
              $(this).closest(".img-name-title-edit").find(".content-lists").show();
            },
            'mouseleave': function(){
              $(this).closest(".img-name-title-edit").find(".content-lists").hide();
            }
            });
            </script>
            <%end%>
          </div>
          <%#もっと見る。のコード%>
          <%if way.content.length > 20%>
            <p class = "text-content" id = "close-content"><%=safe_join(way.content.truncate(20).split("\n"),tag(:br))%>
            <span class = "more-content" id = "more-content" style = "cursor: pointer;">もっと見る</span></p>
            <p class = "text-open-content hidden" id = "open-content"><%=safe_join(way.content.split("\n"),tag(:br))%></p>
            <script>
            $('.more-content').click(function(){
              $(this).closest(".share-content-main").find(".text-content").hide();
              $(this).closest(".share-content-main").find(".text-open-content").show();
            });
            </script>
          <%else%>
          <p class = "text-content"><%=safe_join(way.content.split("\n"),tag(:br))%></p>
          <%end%>
          <%#もっと見る。のコード%>
          <%if way.share.present?%>
          <%= link_to 'url', way.share, class: "url-content",target: :_blank, rel: "noopener noreferrer"%>
          <%end%>
          <div class = "image-box"><%=image_tag way.image, class: "image-content" if way.image.attached?%></div>
          <div class = "action-content">
            <%= link_to image_tag("like.png", class:"like-icon", size: "36x36"), "" %>
            <%= link_to 'コメントを見る', '', class: "look-comment"%>
          </div>
        </div>
        <div class = "form-content">
          <%#= form_with(model: '', local: true) do |form| %>
            <%#= form.text_area :text, placeholder: "text", rows: "1" ,class: "form-comment" %>
            <%#= form.submit "SEND", class:"send-form"%>
          <%# end %>
          <textarea rows = "1" placeholder = "コメントを入力" class = "form-comment"></textarea>
          <input type = "submit" value = "画像" class = "send-form">
        </div>
      </div>
      <%end%>
      <%#投稿した時の画面%>
    </div>
    <div class = "right-bar"></div>
  </div>
</main>