<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class = "header">
  <div class = "header-left">
    <%= image_tag 'bikeicon.png', size: '55x55', class: "header-icon"%>
    <%= link_to 'RootShare', root_path, class: "header-title"%>
  </div>
  <%#= form_with(url: hoge, local: true, method: :get, class: "search-form") do |form| %>
    <%#= form.text_field :hoge, placeholder: "投稿を検索する", class: "header-search" %>
    <%#= form.submit "検索", class: "search-btn" %>
  <%# end %>
  <div class = "header-search">検索するところ</div>
  <div class = "header-right">
    <%if user_signed_in?%>
    <%#リスト表示%>
      <p class = "header-user-btn" id = "user-btn" style="cursor: hand; cursor:pointer;"><%=current_user.nickname%></p>
      <ul class = "header-lists hidden" id = "header-pulldown">
        <li><%=link_to "プロフィール", root_path, class: "header-pulldown-btn"%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, class: "header-pulldown-btn", method: :delete%></li>
      </ul>
      <%#リスト表示%>
      <%=link_to '投稿', root_path, class: "header-signup-btn"%>
    <%else%>
      <%= link_to 'ログイン', new_user_session_path, class: "header-signin-btn"%>
      <%= link_to '新規登録', new_user_registration_path, class: "header-signup-btn"%>
    <%end%>
  </div>
</header>